@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed';
    /* font-family: 'Montserrat'; */
}

.main {
    /* border: solid 1px red; */
    max-width: 1000px;
    margin: 0 auto;

}

.profile_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border: solid 1px blue; */

}

.profile_img_container .profile_img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    border: 5px solid #A22424;
    border-radius: 50%;
    /* padding: 5px; */
}

.details {
    display: flex;
    flex-direction: column;
    /* Stacks items vertically */
    gap: 3px;
    /* Adds a 10px vertical space between each element */
}

.icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.details .icon i {
    font-size: 20px;
    color: #A22424;
    cursor: pointer;

}

.donation,
.contact,
.whatsapp {
    color: #A22424;
}

.contact_container {
    font-size: 32px;
}

/* Style for button  ----------------------------------------------------------------------*/

/* Container to align buttons horizontally */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Space between buttons */
    padding: 20px;
    /* border: 1px solid black; */
}

/* General button styling */
.btn {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Icon styling */
.btn-dark i,
.btn-light i,
.btn-lighter i {
    margin-right: 6px;
    /* Space between icon and text */
    font-size: 18px;
}

/* --- Save Life Button */

#savedLifeModal,
#ineligible-container,
#logout-container,
#deactivate-container,
#profile_img_modal,
#changeNameModal,
#changeUsernameModal,
#changeEmailModal,
#changeAddressModal,
#changeContactModal,
#changeWhatsappModal,
#changeBloodModal,
#editModeModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    /* Start with modal invisible */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Add transition */

    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 40px;
    min-width: 400px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #A22424;
    margin-bottom: 5px;
}

/* H3 in logout */
.form-group h3 {
    /* display: block; */
    text-align: center;
    color: #A22424;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 7px 5px;
    font-size: 16px;
    font-family: "Saira Condensed", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.form-group select option {
    font-size: 12px;
    font-family: "Saira Condensed", sans-serif;

}


.date-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-input-group input {
    flex: 1;

}


.hover-focus:focus {

    outline: 3px solid #A22424 !important;

}


.date-input-group {
    padding: 5px 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn-dark {
    font-family: "Saira Condensed", sans-serif;
    background-color: #A22424;
    font-size: 16px;
    border: 1px solid black;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

}

.btn-light {
    font-family: "Saira Condensed", sans-serif;
    background-color: #8E7676;
    font-size: 16px;
    border: 1px solid black;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

}

.btn-lighter {
    font-family: "Saira Condensed", sans-serif;
    background-color: #f9f9f9;
    font-size: 16px;
    border: 1px solid #ccc;
    color: #000000;
    border-radius: 5px;
    width: 100px;
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

}

.btn-dark:hover {
    background-color: #8e1f1f;
}

.btn-light:hover {
    background-color: #6D5B5B;
}

.btn-lighter:hover {
    background-color: #e0e0e0;
}

.last_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#days:disabled {
    background-color: #e0e0e0;
    /* Light gray */
    color: #808080;
    /* Dark gray text */
    cursor: not-allowed;
    /* Red cross cursor */
    opacity: 0.7;
    /* Slightly faded */
}

#profile_img_change {
    position: relative;
    left: 83%;
    bottom: 36px;
    font-size: 30px;
    color: #A22424;
    cursor: pointer;
}

#profile_img_modal img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
#fileSizeError {
    color: #A22424;
    font-family: "Saira Condensed", sans-serif;
    font-size: 14px;
}

/* by default hiden */
.bxs-edit-alt {
    display: none;
}
.edit-mode-enabled .bxs-edit-alt {
    display: inline-block;
}
